/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(120deg, rgba(147, 223, 233, 0.3), rgba(57, 179, 236, 0)),
    url('../assets/images/fondo')
    color;
}

.social-icon{
    width: 32px;
}