/* Los estilos se aplican a todo el documento */
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-image: linear-gradient(120deg, rgba(75, 230, 134, 0.3), rgba(94, 241, 106, 0.788)),
    url('../assets/images/fondo2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color#17e4a6;
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.social-icon{
    width: 32px;
}

.sobre.mi{
    max-width: 800px;
    border-style: solid;
    border-radius: 2px;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(120deg, rgba(75, 230, 134, 0.3), rgba(18, 247, 37, 0.952))
}

.sobre.mi h2{
    text-align: center;
}

.sobre.mi img {
    border-radius: 30%;
    width: 150px;
    float: left;
    margin-right: 16px;
}